<!DOCTYPE html>
<html>
<head>
    <title>User Interface</title>
</head>
<body>
    <h1>Welcome to the Entertainment Database</h1>
    <button onclick="location.href='movie.html'">Movies</button>
    <button onclick="location.href='manga.html'">Manga</button>
    <button onclick="location.href='randPick.html'">Add Movie or Manga</button>
    <button onclick="location.href='unseenMovies.html'">View Unseen Movies</button>
    <button onclick="location.href='unseenManga.html'">View Unseen Mangas</button>

    <button onclick="pickRandomUnseenMovie()">Pick Random Movie</button>
    <button onclick="pickRandomUnseenManga()">Pick Random Manga</button>

    <div id="random-movie-container"></div>
    <div id="random-manga-container"></div>
    <script src="script0.js"></script>
</body>
</html>
